{
"version":"1.0",
"comment":"Health Check",
"enabled":"yes",
"interval":120,
"frequency":1,
"log":"/var/log/agent.log",
"env_name":"Dev",
"env_level":"Lev2",
"alert_lifetime":7200,
"smtp":{"host":"myhost","port":587,"user":"myuser","password":"mypassword"},
"email_enabled":"yes",
"email_subject":"Dev Service Down Alert",
"jinja2_template":"status.html.template",
"verbose":"yes",
"services":[
            {
              "type":"webapp",
              "description":"Dev environment web check",
              "protocol":"https",
          		"hosts":{"testserver":"SAS Web Application F5"},
          		"port":2443,
          		"service":["SASStoredProcess","SASStudio"],
              "user":"demo",
              "password":"password",
              "enabled":"yes",
              "debug":"No"
            },
            {
              "type":"disk",
              "description":"Dev environment disk check",
              "protocol":"ssh",
              "hosts":{
                       "metadataserver1.local.domain.com":"SAS Metadata Server node 1",
                       "metadataserver2.local.domain.com":"SAS Metadata Server node 2",
                       "metadataserver3.local.domain.com":"SAS Metadata Server node 3",
                       "gridserver1.local.domain.com":"SAS Grid node 1"
                     },
              "port":22,
              "ssh_id_rsa_filename":"~/ssh_keys/id_rsa",
              "service":["/sashome","/tmp"],
              "user":"sas",
              "password":"password",
              "enabled":"no",
              "debug":"no"
          },
          {
            "type":"sas.servers",
            "description":"Dev environment sasserver.sh check",
            "protocol":"ssh",
            "hosts":{
                     "metadataserver1.local.domain.com":"SAS Metadata Server node 1"
                   },
            "port":22,
            "ssh_id_rsa_filename":"/vagrant/va73_dist/ssh_keys/id_rsa",
            "service":["/sasconfig/Meta1/Lev1/sas.servers"],
            "user":"sas",
            "password":"password",
            "enabled":"yes",
            "debug":"no"
        },
        {
          "type":"sas.servers",
          "description":"Dev environment sasserver.sh check",
          "protocol":"ssh",
          "hosts":{
                   "metadataserver2.local.domain.com":"SAS Metadata Server node 2"
                 },
          "port":22,
          "ssh_id_rsa_filename":"/vagrant/va73_dist/ssh_keys/id_rsa",
          "service":["/sasconfig/Meta2/Lev1/sas.servers"],
          "user":"sas",
          "password":"password",
          "enabled":"yes",
          "debug":"no"
      },
      {
        "type":"sas.servers",
        "description":"Dev environment sasserver.sh check",
        "protocol":"ssh",
        "hosts":{
                "gridserver1.local.domain.com":"SAS Grid node 1"
               },
        "port":22,
        "ssh_id_rsa_filename":"~/ssh_keys/id_rsa",
        "service":["/sasconfig/Comp/Lev1/sas.servers"],
        "user":"sas",
        "password":"password",
        "enabled":"yes",
        "debug":"no"
     }
     ]
}
